@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;

1&display=swap");
@font-face {
  font-family: "PostJaffna";
  font-display: swap;
  src: url("../fonts/PostNoBillsJaffna-Bold.woff") format("woff"), url("../fonts/PostNoBillsJaffna-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PostJaffna";
  font-display: swap;
  src: url("../fonts/PostNoBillsJaffna-ExtraBold.woff") format("woff"), url("../fonts/PostNoBillsJaffna-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "PostJaffna";
  font-display: swap;
  src: url("../fonts/PostNoBillsJaffna-Light.woff") format("woff"), url("../fonts/PostNoBillsJaffna-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "PostJaffna";
  font-display: swap;
  src: url("../fonts/PostNoBillsJaffna-Regular.woff") format("woff"), url("../fonts/PostNoBillsJaffna-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PostJaffna";
  font-display: swap;
  src: url("../fonts/PostNoBillsJaffna-SemiBold.woff") format("woff"), url("../fonts/PostNoBillsJaffna-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "PostJaffna";
  font-display: swap;
  src: url("../fonts/PostNoBillsJaffna-Medium.woff") format("woff"), url("../fonts/PostNoBillsJaffna-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.scrin__container {
  max-width: 1180px;
  margin: 0 auto;
}

.header__linck2:hover,
.header__linck3:hover {
  background-color: #1F1F1F;
}

.header__linck1,
.header__linck2,
.header__linck3 {
  font-family: PT Sans;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  display: block;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.left__list,
.sign__in,
.log__in {
  font-family: PT Sans;
  font-size: 12px;
  line-height: 16px;
  color: #969696;
  padding-top: 14px;
}

.buttons_button1,
.buttons_button2,
.buttons_button3,
.buttons_button4,
.buttons_button5,
.inputs__button {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #D0D0D0;
  background-color: #0F0F0F;
  padding: 10px 20px;
  margin: 0 auto;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.buttons_button1:hover,
.buttons_button2:hover,
.buttons_button3:hover,
.buttons_button4:hover,
.buttons_button5:hover,
.inputs__button:hover {
  color: #0F0F0F;
  background-color: #D0D0D0;
}

.header__top {
  background-color: #000000;
  width: 100%;
  height: 44px;
}

.top__container {
  max-width: 1180px;
  margin: 0 auto;
}

.container__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left__list {
  padding-left: 25px;
}

.nav__right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 14px;
}

.right__img {
  margin-right: 20px;
  cursor: pointer;
}

.sign__in {
  margin-right: 20px;
}

.Header {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.Header:before {
  content: '';
  height: 100%;
  top: 0;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 3;
}

.container {
  padding: 0 10px;
  background-color: #0F0F0F;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1180px;
  margin: 0 auto;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
  position: relative;
  z-index: 5;
}

.logo {
  font-family: PostJaffna;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.logo:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.header__burger {
  display: none;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 8;
}

.header__list li {
  list-style: none;
}

.header__linck1.active {
  background-color: #1F1F1F;
  padding: 31px 20px;
}

.header__linck1.dont {
  background-color: #0F0F0F;
}

.header__linck2 {
  padding: 31px 20px;
}

.header__linck3 {
  padding: 31px 21px;
}

.img1 {
  padding: 2px;
  margin-top: 29px;
  margin-left: 54px;
}

.img1:hover {
  margin-top: 20px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.img2 {
  margin-top: 29px;
  margin-left: 54px;
}

.img2:hover {
  margin-top: 20px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.content {
  padding-top: 100px;
}

.container__text {
  font-size: 16px;
  line-height: 50px;
}

.first__scrin {
  min-height: 810px;
}

.scrin__img {
  width: 100%;
  min-height: 810px;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}

.scrin__container {
  position: relative;
  min-height: 810px;
}

.contaider__border {
  margin: 0 auto;
  position: relative;
  display: block;
  top: 160px;
  width: 320px;
  height: 320px;
  border: 4px solid #FFFFFF;
}

.container__title {
  font-family: PostJaffna;
  font-size: 64px;
  line-height: 96px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 93px;
}

.container__suptitle {
  font-family: PT Sans;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 7px;
}

.container__text {
  margin: 0 auto;
  font-family: PT Sans;
  text-align: center;
  color: #FFFFFF;
  line-height: 20px;
  text-transform: uppercase;
  padding-top: 221px;
  min-width: 65%;
}

.new_cillection {
  height: 100%;
}

.cillection__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container__left {
  background-color: #000000;
  width: 60%;
  height: 730px;
}

.left__wrapper {
  max-width: 880px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left__title::after {
  content: '';
  display: block;
  background-color: #FFFFFF;
  width: 120px;
  height: 2px;
  margin: 50px auto;
}

.left__title {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 93px;
}

.left__card1 {
  background-color: #191B1C;
  width: 260px;
  height: 325px;
  margin-right: 30px;
}

.card1__title {
  font-family: Playfair Display;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  padding-top: 25px;
}

.card1__prise {
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #D0D0D0;
  padding-top: 15px;
  padding-bottom: 40px;
}

.card1__img_img {
  -o-object-fit: cover;
     object-fit: cover;
  padding-top: 55px;
  padding-left: 23px;
}

.container__right {
  width: 40%;
  height: 100%;
}

.img__right {
  width: 40%;
  height: 730px;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

.right__title::after {
  content: '';
  width: 120px;
  height: 2px;
  background-color: #fff;
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

.right__title {
  position: relative;
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 484px;
}

.right__button {
  position: relative;
  border: 1px solid #FFFFFF;
  margin: 30px auto;
  width: 138px;
  height: 47px;
}

.right__button:hover {
  background-color: #fff;
}

.button {
  padding: 12px 28px;
  display: block;
  text-align: center;
  font-family: PT Sans;
  font-size: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.button:hover {
  color: #000000;
}

.collection__container {
  height: 600px;
  background-color: #000000;
}

.container__right {
  height: 600px;
}

.container__right__block {
  width: 60%;
  float: right;
  height: 600px;
}

.left__img {
  float: left;
  height: 600px;
  width: 40%;
  -o-object-fit: cover;
     object-fit: cover;
}

.block__title::after {
  content: '';
  display: block;
  width: 120px;
  height: 2px;
  background-color: #FFFFFF;
  margin: 40px auto;
}

.block__title {
  font-family: Playfair Display;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 100px;
}

.block__text {
  font-family: PT Sans;
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
  max-width: 471px;
  min-height: 173px;
  margin: 0 auto;
}

.block__button {
  text-align: center;
  margin: 61px auto;
}

.botoon__botton {
  font-family: PT Sans;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 12px 28px;
  border: 1px solid #FFFFFF;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.botoon__botton:hover {
  background-color: #FFFFFF;
  color: #000000;
}

.new__admission {
  background: #000000;
  width: 100%;
  min-height: 1289px;
}

.admission__title::after {
  content: '';
  display: block;
  width: 120px;
  height: 2px;
  background-color: #FFFFFF;
  margin: 40px auto;
}

.admission__container {
  max-width: 1110px;
  margin: 0 auto;
  min-height: 1289px;
}

.admission__title {
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 120px;
}

.admission__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.card {
  background-color: #191B1C;
  width: 260px;
  height: 325px;
  margin-right: 23px;
}

.card4 {
  background-color: #191B1C;
  width: 260px;
  height: 325px;
  margin-right: 0px;
}

.our__brends {
  width: 100%;
  min-height: 362px;
  background-color: #0F0F0F;
}

.brends__container {
  max-width: 1110px;
  margin: 0 auto;
}

.brends__title {
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 60px;
}

.brends__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.brends__title::after {
  content: '';
  display: block;
  width: 120px;
  height: 2px;
  background-color: #FFFFFF;
  margin: 40px auto;
}

.item {
  margin-right: 30px;
}

.item_last {
  margin: 0px;
}

.foter {
  width: 100%;
  min-height: 400px;
}

.foter__bg {
  width: 100%;
  min-height: 400px;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

.foter__container {
  position: relative;
  max-width: 1110px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 400px;
}

.forer__aboutmShop {
  width: 348px;
  padding-top: 80px;
  min-height: 100%;
}

.aboutShop__title {
  font-family: Playfair Display;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.aboutmShop__text {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  padding-top: 40px;
}

.categories__container {
  width: 288px;
  min-height: 100%;
  margin-left: 32px;
  padding-top: 77px;
}

.categories__title {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.butons__row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.butons__row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
}

.categories__buttons {
  padding-top: 50px;
  height: 105px;
  width: 288px;
}

.buttons1 {
  padding-right: 20px;
}

.buttons2 {
  padding-right: 20px;
}

.buttons4 {
  padding-right: 20px;
}

.mailing {
  margin-left: 92px;
  min-width: 350px;
  height: 100%;
}

.mailing_container {
  padding-top: 80px;
  min-width: 350px;
}

.mailing__title {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  color: #FFFFFF;
  height: 100%;
}

.mailing__text {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #FFFFFF;
  padding-top: 40px;
  min-width: 350px;
}

.imale::-webkit-input-placeholder {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #969696;
}

.imale::-moz-placeholder {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #969696;
}

.imale:-ms-input-placeholder {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #969696;
}

.imale::-ms-input-placeholder {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #969696;
}

.imale::placeholder {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #969696;
}

.imale {
  min-width: 210px;
  height: 42px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #969696;
  margin-top: 37px;
  float: left;
  padding-left: 15px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.imale:focus {
  background-color: rgba(255, 255, 255, 0.233);
}

.inputs {
  float: right;
}

.inputs__button {
  margin-top: 37px;
  height: 42px;
  display: block;
  margin-left: 0px;
}

.inputs__button:hover {
  background-color: #050505;
  color: #ffff;
}

.foter__bottom {
  width: 100%;
  min-height: 50px;
  background-color: #0F0F0F;
}

.foter__bottom__container {
  max-width: 1110px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 17px;
}

.title {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #D0D0D0;
}

.figma {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #D0D0D0;
}

@media (min-width: 1891px) {
  .first__scrin {
    max-height: 810px;
  }

  .scrin__img {
    max-height: 810px;
  }
}

@media (max-width: 1456px) {
  .cillection__container {
    display: block;
  }

  .container__left {
    width: 100%;
  }

  .left__card1 {
    margin: 0  20px auto;
  }

  .card1__title {
    margin-left: 20px;
  }

  .card1__prise {
    margin-left: 20px;
  }

  .card1__img_img {
    padding-top: 50px;
  }

  .container__right {
    width: 100%;
    height: 730px;
  }

  .img__right {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    min-height: 730px;
  }
}

@media (max-width: 1112px) {
  .brends__logos {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .item {
    margin-right: 15px;
  }
}

@media (max-width: 1108px) {
  .card4 {
    margin-right: 23px;
  }
}

@media (max-width: 1104px) {
  .forer__aboutmShop {
    width: 500px;
  }

  .butons__row2 {
    padding-top: 30px;
    margin: 0 auto;
  }

  .mailing {
    margin-left: 10px;
  }

  .imale {
    width: 100%;
  }

  .inputs__button {
    width: 100%;
  }
}

@media (max-width: 1054px) {
  .buttons1 {
    padding-right: 5px;
  }

  .buttons2 {
    padding-right: 5px;
  }
}

@media (max-width: 952px) {
  .container__left {
    height: 100%;
    padding-bottom: 50px;
  }

  .left__card1 {
    margin-right: auto;
  }
}

@media (max-width: 946px) {
  .foter__bottom {
    height: 80px;
  }

  .foter__bottom__container {
    padding-top: 50px;
  }
}

@media (max-width: 916px) {
  .foter {
    min-height: 100%;
    min-width: 100%;
  }

  .foter__bg {
    height: 850px;
  }

  .foter__container {
    display: block;
    height: 100%;
  }

  .forer__aboutmShop {
    width: 348px;
    margin: 0 auto;
    height: 300px;
  }

  .categories__container {
    margin: 0 auto;
    width: 348px;
  }

  .buttons1 {
    padding-right: 15px;
  }

  .buttons2 {
    padding-right: 15px;
  }

  .buttons4 {
    padding-right: 25px;
  }

  .mailing {
    margin: 0 auto;
    width: 100px;
  }
}

@media (max-width: 894px) {
  body.lock {
    overflow: hidden;
  }

  .header__body {
    height: 80px;
  }

  .logo {
    font-family: PostJaffna;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 6;
  }

  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0F0F0F;
    padding-top: 70px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
    text-align: center;
    z-index: 2;
  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    display: block;
    margin-top: 50px;
  }

  .header__list li {
    margin-bottom: 20px;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .img1 {
    margin: 0 auto;
  }

  .img2 {
    margin: 25px auto;
  }

  .header__linck1.active {
    background-color: #0F0F0F;
  }
}

@media (max-width: 862px) {
  .left__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .card1__prise {
    padding-bottom: 50px;
  }
}

@media (max-width: 814px) {
  .container__right__block {
    float: none;
    width: 100%;
    height: 600px;
    background-color: #000000;
  }

  .left {
    width: 100%;
    height: 600px;
  }

  .left__img {
    display: none;
  }
}

@media (max-width: 598px) {
  .left__list {
    margin-left: 20px;
  }

  .nav__left {
    display: none;
  }

  .container__nav {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .nav__right.active {
    display: none;
  }

  .nav__left.active {
    display: block;
    position: relative;
    z-index: 30;
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 598px) and (max-width: 412px) {
  .nav__left.active .left__list {
    padding-left: 10px;
    margin: 0 auto;
  }
}

@media (max-width: 496px) {
  .foter__bg {
    min-height: 100%;
  }
}

@media (max-width: 407px) {
  .aboutShop__title {
    min-width: 70%;
    text-align: center;
  }

  .categories__title {
    min-width: 70%;
    height: 100%;
    text-align: center;
  }

  .categories__buttons {
    margin: 0 auto;
  }

  .mailing {
    min-width: 100%;
    text-align: center;
    padding-top: 80px;
  }

  .mailing_container {
    padding-top: 0px;
    min-width: 100%;
    text-align: center;
  }

  .mailing__title {
    min-width: 100%;
    min-height: 100%;
  }

  .mailing__text {
    min-width: 100%;
    min-height: 100%;
  }
}

@media (max-width: 394px) {
  .aboutmShop__text {
    min-height: 300px;
    text-align: center;
  }
}

@media (max-width: 378px) {
  .forer__aboutmShop {
    width: 100%;
  }

  .categories__container {
    width: 100%;
    height: 100%;
  }
}